In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Saint-Philippe,71,RE,2021-07-09 20:45:27,79,-21.3585,55.7679,71.19,17.05
1,1,Kisangani,84,CD,2021-07-09 20:45:27,76,0.5167,25.2000,74.73,2.66
2,2,Lazurne,0,UA,2021-07-09 20:45:28,60,46.0840,32.5295,71.02,9.06
3,3,Georgetown,20,MY,2021-07-09 20:45:28,94,5.4112,100.3354,76.95,3.00
4,4,Coquimbo,0,CL,2021-07-09 20:45:05,72,-29.9533,-71.3436,58.73,10.36

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
6,6,Manbij,0,SY,2021-07-09 20:45:29,48,36.5281,37.9549,86.77,13.51
8,8,Morant Bay,12,JM,2021-07-09 20:45:29,75,17.8815,-76.4093,88.63,13.04
10,10,Gainesville,90,US,2021-07-09 20:41:43,82,29.6516,-82.3248,85.91,1.01
17,17,Albany,58,US,2021-07-09 20:45:32,74,42.6001,-73.9662,81.45,5.57
25,25,High Level,75,CA,2021-07-09 20:45:34,57,58.5169,-117.1360,80.71,8.05
26,26,Gwadar,74,PK,2021-07-09 20:45:35,86,25.1216,62.3254,81.93,9.31
27,27,Kudahuvadhoo,98,MV,2021-07-09 20:45:35,80,2.6708,72.8944,80.58,18.48
31,31,Bethel,40,US,2021-07-09 20:45:36,73,41.3712,-73.4140,85.08,1.99
36,36,Kapaa,75,US,2021-07-09 20:45:38,80,22.0752,-159.3190,82.72,5.01
46,46,Puerto Cabezas,40,NI,2021-07-09 20:42:10,74,14.0351,-83.3888,87.76,11.50

In [30]:
preferred_cities_df.count()

City_ID       114
City          114
Cloudiness    114
Country       114
Date          114
Humidity      114
Lat           114
Lng           114
Max Temp      114
Wind Speed    114
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Add an empty Hotel Name column
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6           Manbij      SY     86.77  36.5281   37.9549
8       Morant Bay      JM     88.63  17.8815  -76.4093
10     Gainesville      US     85.91  29.6516  -82.3248
17          Albany      US     81.45  42.6001  -73.9662
25      High Level      CA     80.71  58.5169 -117.1360
26          Gwadar      PK     81.93  25.1216   62.3254
27    Kudahuvadhoo      MV     80.58   2.6708   72.8944
31          Bethel      US     85.08  41.3712  -73.4140
36           Kapaa      US     82.72  22.0752 -159.3190
46  Puerto Cabezas      NI     87.76  14.0351  -83.3888

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Manbij,SY,86.77,36.5281,37.9549,Manbej City Hotel
8,Morant Bay,JM,88.63,17.8815,-76.4093,Whispering Bamboo Cove Resort
10,Gainesville,US,85.91,29.6516,-82.3248,"Holiday Inn Gainesville-University Ctr, an IHG..."
17,Albany,US,81.45,42.6001,-73.9662,
25,High Level,CA,80.71,58.5169,-117.1360,Days Inn by Wyndham High Level
26,Gwadar,PK,81.93,25.1216,62.3254,Sadaf Resort
27,Kudahuvadhoo,MV,80.58,2.6708,72.8944,Niyama Private Islands Maldives
31,Bethel,US,85.08,41.3712,-73.4140,Courtyard by Marriott Danbury
36,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
46,Puerto Cabezas,NI,87.76,14.0351,-83.3888,Cabaña Caribe

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]