In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Saint-Philippe,71,RE,2021-07-09 20:45:27,79,-21.3585,55.7679,71.19,17.05
1,1,Kisangani,84,CD,2021-07-09 20:45:27,76,0.5167,25.2000,74.73,2.66
2,2,Lazurne,0,UA,2021-07-09 20:45:28,60,46.0840,32.5295,71.02,9.06
3,3,Georgetown,20,MY,2021-07-09 20:45:28,94,5.4112,100.3354,76.95,3.00
4,4,Coquimbo,0,CL,2021-07-09 20:45:05,72,-29.9533,-71.3436,58.73,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Saint-Philippe,71,RE,2021-07-09 20:45:27,79,-21.3585,55.7679,71.19,17.05
1,1,Kisangani,84,CD,2021-07-09 20:45:27,76,0.5167,25.2000,74.73,2.66
2,2,Lazurne,0,UA,2021-07-09 20:45:28,60,46.0840,32.5295,71.02,9.06
3,3,Georgetown,20,MY,2021-07-09 20:45:28,94,5.4112,100.3354,76.95,3.00
6,6,Manbij,0,SY,2021-07-09 20:45:29,48,36.5281,37.9549,86.77,13.51
7,7,Puerto Ayacucho,99,VE,2021-07-09 20:45:29,78,5.6639,-67.6236,79.77,2.44
8,8,Morant Bay,12,JM,2021-07-09 20:45:29,75,17.8815,-76.4093,88.63,13.04
10,10,Gainesville,90,US,2021-07-09 20:41:43,82,29.6516,-82.3248,85.91,1.01
16,16,Port Blair,100,IN,2021-07-09 20:45:32,89,11.6667,92.7500,77.79,17.31
17,17,Albany,58,US,2021-07-09 20:45:32,74,42.6001,-73.9662,81.45,5.57

In [12]:
preferred_cities_df.count()

City_ID       280
City          280
Cloudiness    280
Country       280
Date          280
Humidity      280
Lat           280
Lng           280
Max Temp      280
Wind Speed    280
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Add an empty Hotel Name column
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0    Saint-Philippe      RE     71.19 -21.3585   55.7679
1         Kisangani      CD     74.73   0.5167   25.2000
2           Lazurne      UA     71.02  46.0840   32.5295
3        Georgetown      MY     76.95   5.4112  100.3354
6            Manbij      SY     86.77  36.5281   37.9549
7   Puerto Ayacucho      VE     79.77   5.6639  -67.6236
8        Morant Bay      JM     88.63  17.8815  -76.4093
10      Gainesville      US     85.91  29.6516  -82.3248
16       Port Blair      IN     77.79  11.6667   92.7500
17           Albany      US     81.45  42.6001  -73.9662

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,71.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,Kisangani,CD,74.73,0.5167,25.2000,Grand Ramela Hotel
2,Lazurne,UA,71.02,46.0840,32.5295,New Manna Hostel
3,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
6,Manbij,SY,86.77,36.5281,37.9549,Manbej City Hotel
7,Puerto Ayacucho,VE,79.77,5.6639,-67.6236,Posada Turistica Manapiare
8,Morant Bay,JM,88.63,17.8815,-76.4093,Whispering Bamboo Cove Resort
10,Gainesville,US,85.91,29.6516,-82.3248,"Holiday Inn Gainesville-University Ctr, an IHG..."
16,Port Blair,IN,77.79,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
17,Albany,US,81.45,42.6001,-73.9662,

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))